<!DOCTYPE html>
<html>
      <!-- HEAD DO SITE -->
      <%- include('partials/head') %>
      <!-- FIM - HEAD DO SITE -->
  <body>
    <!-- HEADER DO SITE -->
    <%- include('partials/header') %>
    <!-- FIM - HEADER DO SITE -->

    <!-- <h1><%= title %></h1> -->
    <h1>FAQ</h1> 

    <p>FAQ é um acrónimo da expressão inglesa Frequently Asked Questions Em português seria algo como "Perguntas frequentes". Um FAQ, quando usado num contexto pluralista, significa uma compilação de perguntas frequentes acerca de determinado tema; quando usado num contexto singular, será uma dessas perguntas frequentes. </p>
   
    <!-- FOOTER DO SITE -->
    <%- include('partials/footer')%>
    <!-- FIM - FOOTER DO SITE -->

    <!-- END DO SITE -->
    <%- include('partials/end')%>
    <!-- FIM - END DO SITE -->
  </body>

</html>