<!DOCTYPE html>
<html>
      <!-- HEAD DO SITE -->
      <%- include('partials/head') %>
      <!-- FIM - HEAD DO SITE -->
  <body>
    <!-- HEADER DO SITE -->
    <%- include('partials/header') %>
    <!-- FIM - HEADER DO SITE -->

    <h1><%= title %></h1>

    <p>Projeto B2BCOMM aqui vai as paginas de conteudo e navegação
      
      rweret e atualização taaa<%= title %></p>
   
    <!-- FOOTER DO SITE -->
    <%- include('partials/footer')%>
    <!-- FIM - FOOTER DO SITE -->

    <!-- END DO SITE -->
    <%- include('partials/end')%>
    <!-- FIM - END DO SITE -->
  </body>

</html>
