<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
   
    <%- include('partials/header') %>
   
    <h1><%= title %></h1>
    <p>Projeto B2BCOMM hoje feito  teste com git e atualização ok para git <%= title %></p>
   
    <div>
      dfdf
    </div>
    <%- include('partials/footer')%>
    <%- include('partials/end')%>
  </body>
</html>
