<!DOCTYPE html>
<html>
      <!-- HEAD DO SITE -->
      <%- include('partials/head') %>
      <!-- FIM - HEAD DO SITE -->
      <link rel='stylesheet' href='/stylesheets/home.css' />

  <body>
    <!-- HEADER DO SITE -->
    <%- include('partials/header') %>
    <!-- FIM - HEADER DO SITE -->

    <h1><%= title %></h1>

    <p>Projeto B2BCOMM aqui vai as paginas de conteudo e navegação
      
      rweret e atualização taaa<%= title %></p>



      <main>
        <section class="banner-full">
          <ol class="janela">
            <li id="carrossel1">
                <div class="bloco-banner">
                  <a href="#carrossel3" class="carrossel-prev">voltar 3</a>
                  <img src="images/bannerfull1.jpg">
                  <a href="#carrossel2" class="carrossel-prox">Ir 2</a>
                </div>
            </li>
            <li id="carrossel2">
              <div class="bloco-banner">
                <a href="#carrossel1" class="carrossel-prev">Voltar 1</a>
                <img src="images/bannerfull2.jpg">
                <a href="#carrossel3" class="carrossel-prox">Ir 3</a>
              </div>
            </li>
            <li id="carrossel3">
              <div class="bloco-banner">
                <a href="#carrossel2" class="carrossel-prev">Voltar 2</a>
                <img src="images/bannerfull3.jpg">
                <a href="#carrossel1" class="carrossel-prox">Ir 1</a>
              </div>
            </li>
          </ol>
          <!-- Scroll do Banner Full -->
          <aside class="scroll-banners">
            <ol class="lista-bolinhas">
              <li class="bolinha-scroll">
                <a href="#carrossel1" class="menu-botao">Go to slide 1</a>
              </li>
              <li class="bolinha-scroll">
                <a href="#carrossel2" class="menu-botao">Go to slide 2</a>
              </li>
              <li class="bolinha-scroll">
                <a href="#carrossel3" class="menu-botao">Go to slide 3</a>
              </li>
            </ol>
          </aside>
        </section>
        <div class="banner-sub">
          <img src="images/bannerfull3.jpg">
        </div>
        <section class="cat-pai">
          <div class="cat-produtos">
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                  <h3 class="prod-nome">Nome do Produto1</h3>
                  <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto2</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto3</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto4</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <section class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto5</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </section>
          </div>
          <div class="cat-produtos">
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg"class="foto-produto">   
                  <h3 class="prod-nome">Nome do Produto1</h3>
                  <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto2</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto3</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <div class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto4</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </div>
            <section class="produtos">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41tQTIPDO+L._AC._SR240,240.jpg" class="foto-produto">
                <h3 class="prod-nome">Nome do Produto5</h3>
                <button class="prod-cta" buttom href="#">Ver Produto</button>
            </section>
          </div>
        </section>
      </main>

      
   
    <!-- FOOTER DO SITE -->
    <%- include('partials/footer')%>
    <!-- FIM - FOOTER DO SITE -->

    <!-- END DO SITE -->
    <%- include('partials/end')%>
    <!-- FIM - END DO SITE -->
  </body>

</html>
