<!DOCTYPE html>
<html>
        <!-- HEAD DO SITE -->
        <%- include('partials/head') %>
        <!-- FIM - HEAD DO SITE -->

        <link rel='stylesheet' href='/stylesheets/home.css' />

  <body>
        <!-- HEADER DO SITE -->
        <%- include('partials/header') %>
        <!-- FIM - HEADER DO SITE -->

        <!-- CATEGORIA DO SITE -->
        <%- include('partials/categoria') %>
        <!-- FIM - CATEGORIA DO SITE -->
    
        <!-- CARROSSEL DO SITE -->
        <%- include('partials/carrossel') %>
        <!-- FIM - CARROSSEL DO SITE -->

        <div class="conteudo">


                <div class="spaco_entre_bloco">
                </div>

                
                <div class="text_menu_prdutos">
                    Itens mais buscados:
                </div>


                <div class="row_produtos">
            
                    <% masprocurado.forEach((item) => { %>
                        <div class="produtos">
                            <img src= <%= item.img %> class="foto-produto">   
                            <div class="prod-nome"> <%= item.produto %></div>
                            <button class="prod-cta" buttom href="#">Ver Produto</button>
                    </div>

                    <% })%>

                </div>  


                <div class="spaco_entre_bloco">
                </div>

                
                <div class="text_menu_prdutos">
                Produtos em destaque:
                </div>


                <div class="row_produtos">
            
                    <% destaque.forEach((item) => { %>
                        <div class="produtos">
                            <img src= <%= item.img %> class="foto-produto">   
                            <div class="prod-nome"> <%= item.produto %></div>
                            <button class="prod-cta" buttom href="#">Ver Produto</button>
                    </div>

                    <% })%>

                </div>  


                <div class="spaco_entre_bloco">
                </div>

                
                <div class="text_menu_prdutos">
                    Produto novos:
                </div>


                <div class="row_produtos">
            
                    <% novos.forEach((item) => { %>
                        <div class="produtos">
                            <img src= <%= item.img %> class="foto-produto">   
                            <div class="prod-nome"> <%= item.produto %></div>
                            <button class="prod-cta" buttom href="#">Ver Produto</button>
                    </div>

                    <% })%>

                </div>  


                <div class="spaco_entre_bloco">
                </div>     
        </div>

        <!-- FOOTER DO SITE -->
        <%- include('partials/footer')%>
        <!-- FIM - FOOTER DO SITE -->
        
        <!-- END DO SITE -->
        <%- include('partials/end')%>
        <!-- FIM - END DO SITE -->
 
  </body>

</html>
