<!DOCTYPE html>
<html>
  <head>
      <!-- HEAD DO SITE -->
      <%- include('partials/head') %>
      <!-- FIM - HEAD DO SITE -->
      <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <!-- HEADER DO SITE -->
    <%- include('partials/header') %>
    <!-- FIM - HEADER DO SITE -->

    <!-- <h1><%= title %></h1> -->
    <h1>Login</h1> 

    <p>Controle de acesso</p>
   
    <!-- FOOTER DO SITE -->
    <%- include('partials/footer')%>
    <!-- FIM - FOOTER DO SITE -->

    <!-- END DO SITE -->
    <%- include('partials/end')%>
    <!-- FIM - END DO SITE -->
  </body>

</html>