<!DOCTYPE html>
<html>
      <!-- HEAD DO SITE -->
      <%- include('partials/head') %>
      <!-- FIM - HEAD DO SITE -->
  <body>
    <!-- HEADER DO SITE -->
    <%- include('partials/header') %>
    <!-- FIM - HEADER DO SITE -->

    <!-- <h1><%= title %></h1> -->
    <h1>Politica de Privacidade</h1> 

    <p>As informação sao sigilosas  e utilizada apenas na nossa pratoforma respeitando as integridade das informações</p>
   
    <!-- FOOTER DO SITE -->
    <%- include('partials/footer')%>
    <!-- FIM - FOOTER DO SITE -->

    <!-- END DO SITE -->
    <%- include('partials/end')%>
    <!-- FIM - END DO SITE -->
  </body>

</html>